.privateCenter-Start{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:1280px;
    height:550px;
}
.privateCenter-Start h1{
    color:#2efa49;
}
.privateCenter-Area{
    position: relative;
    height:100vh;
    overflow-y:scroll;
    background-image:url('../../../Image/ChatIcon.png');
}
.privateCenter-Area::-webkit-scrollbar{
    width:8px;
    height:6px;
}
.privateCenter-Area::-webkit-scrollbar-thumb{
    background-color:#000000;
}
.privateCenter_Typing{
    margin-left:20px;
    color:#FFFFFF;
}