.groupCenter-Typing{
    margin-left:20px;
    color:#FFFFFF;
}
.groupCenter-Start{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:550px;
    width:1280px;
}
.groupCenter-Start h1{
    color:#2efa49;
}
.groupCenter-Avatar{
    padding:4px;
    margin-top:10px;
}
.groupCenter-Name{
    position:absolute;
    justify-content: center;
    margin-right:3px;
}
.groupCenter-Member{
    display:flex;
    height:65px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.groupCenter-Area{
    position: relative;
    height:100vh;
    overflow-y:scroll;
    background-image:url('../../../Image/ChatIcon.png');
}
.groupCenter-Area::-webkit-scrollbar{
    width:8px;
    height:6px;
}
.groupCenter-Area::-webkit-scrollbar-thumb{
    background-color:#000000;
}