.groupTop-Profile{
    position:absolute;
    left:200px;
    top:8px;
}
.groupTop-Avatar{
    position:absolute;
    top:-5px;
    left:-20px;
    width:55px;
    height:55px;
    border-radius:20px;
    cursor:pointer;
}
.groupTop-Avatar:hover{
    opacity:0.6;
}
.groupTop-Change{
    position:absolute;
    left:1350px;
    top:17px;
    cursor:pointer;
}
.groupTop-Change:hover{
    opacity:0.6;
}
.groupTop-Logout{
    position:absolute;
    left:1660px;
    top:17px;
    cursor:pointer;
}
.groupTop-Logout:hover{
    opacity:0.6;
}