.privateLeft-Area{ 
    overflow-x:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.privateLeft-Area::-webkit-scrollbar{
    width:8px;
    height:6px;
}
.privateLeft-Area::-webkit-scrollbar-thumb{
    background-color:#000000;
}